.recharge-container {
  font-family: Arial, sans-serif;

  margin: 0 auto;

  background-color: #f8f9fa;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
}

.back-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.balance {
  text-align: center;
  font-size: 18px;
  font-weight: 700;

  margin: 20px 0;
}

.recharge-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.amount-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}

.amount-btn {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.amount-btn.selected {
  background-color: #007bff;
  color: white;
}

.payment-methods h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.payment-methods label {
  display: flex;
  align-items: center;
  min-height: 44px;
  justify-content: space-between;
  margin-bottom: 1px;
  font-size: 20px;
  background-color: white;
}

.payment-methods input[type="radio"] {
  width: 20px; /* Custom width */
  height: 20px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.gpay {
  font-size: 15px;
}

.recharge-btn {
  height: 3rem;
  width: 9rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btncont {
  background-color: #f1f1f1;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recharge-btn:hover {
  background-color: #0056b3;
}

.tips {
  background-color: #fff;
  padding: 0.5px 15px;
  display: flex;
  align-items: center;
  min-height: 52px;
  justify-content: space-between;
}

.tips a {
  color: #007bff;
  text-decoration: none;
}

.tips a:hover {
  text-decoration: underline;
}
