/* Header.css */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
  background-color: #8799a3;
  padding: 0 16px;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  object-fit: contain;
}

.header-title {
  flex-grow: 2;
  text-align: center;
  color: white;
  font-size: 16px;
}

.download-icon {
  flex-grow: 1;
  text-align: right;
  font-size: 24px;
  cursor: pointer;
}

.header-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.header-para {
  color: blue;
  font-size: 18px;
  margin: 0;
}
