.container {
  padding: 20px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.backArrow {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.balance {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}

.inputContainer {
  margin: 20px 0;
}

.inputBox {
  width: 100%;
  padding: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

.helperText {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

.methodSelection {
  margin: 20px 0;
  font-size: 16px;
  color: #333;
}

.card {
  padding: 15px;
  margin: 10px 0;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.card:hover {
  background-color: #f9f9f9;
}

.selected {
  background-color: #f1f1f1;
  border-bottom: 2px solid #007bff; /* Emphasized bottom border for selection */
}

.methodArrow {
  font-size: 16px;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.methodArrow.collapsed {
  transform: rotate(0deg);
}

.methodDetails {
  margin-top: 10px;
  background-color: #f8f8f8;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 10px;
}

.cardDetails {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.cardContent {
  font-size: 14px;
  margin-bottom: 5px;
}

.passwordSection {
  margin-top: 20px;
}

.passwordInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  font-size: 16px;
}

.resetLink {
  color: #ff4a4a;
  font-size: 14px;
  margin-top: 5px;
  display: block;
  text-decoration: none;
}

.resetLink:hover {
  text-decoration: underline;
}

.withdrawButton {
  background-color: #007bff;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.withdrawButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.withdrawButton:hover {
  background-color: #0056b3;
}
